# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
.env
venv/
*.pyc

# Django
*.db
/staticfiles/
/media/
/*.sqlite3

# IDEs
.vscode/
.idea/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
